<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce Store</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar">
          <div class="logo">
            <img src="/images/logo.png" alt="" />
          </div>

          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <% if (user && (user.is_admin || user.role === 'admin')) { %>
            <li><a href="/admin">Admin</a></li>
            <% } %> <% if (user) { %>
            <li><a href="/account">My Account</a></li>
            <li>
              <a href="/cart" class="cart-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#d4af37"
                >
                  <path
                    d="M221-120q-27 0-48-16.5T144-179L42-549q-5-19 6.5-35T80-600h190l176-262q5-8 14-13t19-5q10 0 19 5t14 13l176 262h192q20 0 31.5 16t6.5 35L816-179q-8 26-29 42.5T739-120H221Zm-1-80h520l88-320H132l88 320Zm260-80q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM367-600h225L479-768 367-600Zm113 240Z"
                  />
                </svg>
                <span class="cart-count"><%= cartCount %></span></a
              >
            </li>
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container"><%- include('../partials/alerts') %></main>
  </body>
</html>
